.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 600px;
    height: 300px;
    margin: 10px;
  }
  
  button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }