.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*Login y Logout*/
.Login {
  background-color: #000000; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar en línea */
  cursor: pointer; /* Cursor de puntero */
  border-radius: 12px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave */
}

.Logout {
  background-color: #000000; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar en línea */
  cursor: pointer; /* Cursor de puntero */
  border-radius: 12px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave */
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  align-items: center;
}


/*Home*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  background: url(/src/components/images/img-home.jpg) no-repeat center;
  background-attachment: fixed;
}  

.home-content {
  background: #33333300;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.explore-button {
  padding: 10px 10px;
  font-size: 1rem;
  color: white;
  background: #000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 12px;
  text-decoration: none;
  margin-top: 20px;
}

.explore-button:hover {
  background: #444;
}

.component-wrapper {
  margin-bottom: 10%;
  justify-content: space-between;
  border-top: 25px solid #808080; 
}







/*ContactForm*/
.contact-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.contact-form {
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  color: white;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  margin-bottom: 1rem;
}

.contact-form p {
  margin-bottom: 1.5rem;
}

.contact-form label {
  display: block;
  margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 0.75rem;
  background: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.contact-form button:hover {
  background: #444;
}


/* SubscriptionForm.css */
.container1 {
  display: flex;
  height: 100vh;
}

.background-image {
  flex: 2;
  background-image: url('./components/images/img2.jpg'); /* Asegúrate de que la ruta de la imagen sea correcta */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.subscription-form {
  flex: 1;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.subscription-form h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.subscription-form p {
  font-size: 1em;
  margin-bottom: 20px;
}

.subscription-form form {
  display: flex;
  flex-direction: column;
}

.subscription-form label {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.subscription-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.subscription-form button {
  padding: 10px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.subscription-form button:hover {
  background-color: #0097a7;
}


/* PhotoSubmissionForm.css */
.container2 {
  display: flex;
  height: 100vh;
}

.background-image2 {
  flex: 2;
  background-image: url('./components/images/img3.jpg'); /* Asegúrate de que la ruta de la imagen sea correcta */
  background-size: cover;
  background-position: center;
}

.photo-submission-form {
  flex: 1;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

.photo-submission-form h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.photo-submission-form p {
  font-size: 1em;
  margin-bottom: 20px;
}

.photo-submission-form form {
  display: flex;
  flex-direction: column;
}

.photo-submission-form label {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.photo-submission-form input,
.photo-submission-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.photo-submission-form button {
  padding: 10px;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.photo-submission-form button:hover {
  background-color: #0097a7;
}









/*Footer*/
.footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  flex: 1;
}



